.spinner {
  animation: spin 1s linear infinite;
}

.active {
  font-weight: 600;
  color: #000;
  background-color: #fafafa;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
